.candidates {
  background: #dadada;
}

.candidate {
  background-color: white;
  padding: 10px;
  margin: 2px;
}

.candidate.moving {
  box-shadow: 3px 3px 3px rgba(0,0,0, 0.4);
}

.candidate .name {
  display: block;
}

.candidate .party {
  display: block;
  font-size: 15px;
  font-weight: bold;
}
