body {
  margin: 0px;
}

.ballot-page.view {
  overflow-x: scroll;
  overflow-y: scroll;
}

.ballot-page.view .ballot-paper-sen {
  visibility: visible;
}
.ballot-page.view .order-preferences {
  display: none;
  visibility: hidden;
  flex: 0px 0 0;
}

.ballot-page.order .order-preferences {
  visibility: visible;
}
.ballot-page.order .ballot-paper-sen {
  display: none;
  visibility: hidden;
  flex: 0px 0 0;
}

.ballot-selection {
  padding: 5px;
  text-align: center;
  background: #eee;
}

.ballot-selection select {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0px;
}

.ballot-selection button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0px;

  text-align: center;
}

.ballot-selection a {
  display: none;
  text-decoration: none;
}
.ballot-selection button i {
  font-size: 15px;
  margin-top: -5px;
}

.preferences {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
  
.preferences .message {
  padding: 15px;
  text-align: center;
  background: #dadada;
}

.choices {
}

.choices .ticket-party {
  padding: 5px;

  font-weight: bold;
  font-size: 14px;

  background: #dadada;
}

.choices .tickets {
  vertical-align: top;
}
.choices .candidates {
  min-width: 200px;
  overflow-y: scroll;

  list-style: none;
  -webkit-padding-start: 0px;
}

.candidates {
}

.candidate {
  background-color: white;
  padding: 5px;
  font-size: 14px;
  margin: 2px;
}

.ticket-party,
.candidate {
  display: flex;
  justify-content: space-between;
}

.candidate .name {
  text-align: center;
}
.candidate .party {
  flex-shrink: 0;
  width: 120px;
  margin-left: 5px;

  font-size: 12px;
  font-weight: bold;
}

.preferences .candidates .preference-controls {
  width: 120px;
  flex-shrink: 0;
}

.ticket-party button,
.candidate button {
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.ticket-party button i,
.candidate button i {
  font-size: 15px;
}

.choices button.increase,
.choices button.decrease {
  display: none;
}

@media screen and (min-width: 900px) {
  body {
    overflow: hidden;
  }

  .splash {
    position: inherit;
    margin: auto auto;

    text-align: center;
    font-size: 1.5em;
  }
  .splash select {
    font-size: 1.5em;
    padding: 10px;
  }

  .ballot-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .ballot-selection {
    flex-shrink: 0;
    padding: 10px;
    margin-bottom: 10px;
  }

  .ballot-selection select {
    display: inline-block;
    width: initial;
    float: left;
  }

  .ballot-selection a,
  .ballot-selection button {
    display: inline-block;
    width: initial;
    float: right;
  }

  .order-preferences {
    display: flex;
  }

  .preferences,
  .choices {
    padding: 10px;
    margin: 10px;
    overflow-y: scroll;

    background: #dadada;
  }

  .preferences {
    flex: 400px 1 0;
    width: 400px;

    border-bottom: 0px;
  }

  .choices {
    flex: 400px 1 0;
    width: 400px;
  }
}
