body {
  overflow-x: hidden;
}

.preferences {
}
  
.preferences .message {
  padding: 15px;
  text-align: center;
  background: #dadada;
}

.choices {
  width: 100vw;
  overflow-x: scroll;
}

.choices .ticket-party {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  min-height: 20px;
}

.choices .tickets {
  vertical-align: top;
}
.choices .candidates {
  min-width: 200px;
  overflow-y: scroll;

  list-style: none;
  -webkit-padding-start: 0px;
}

.candidates {
  background: #dadada;
}
.candidate {
  background-color: white;
  padding: 5px;
  font-size: 14px;
  margin: 2px;
  min-height: 50px;
}

.candidate.moving {
  box-shadow: 3px 3px 3px rgba(0,0,0, 0.4);
}
.candidate.moving button {
  display: none;
}

.candidate .name {
  display: block;
  margin-left: 45px;
}

.candidate .party {
  display: block;
  margin-left: 45px;
  font-size: 12px;
  font-weight: bold;
}

.candidate button {
  float: left;
  margin-right: 5px;
  width: 40px;
  height: 40px;
}

.preferences .candidate button {
  float: right;
}
