/* Printing */
@media print {
  body {
     overflow: inherit !important;

     transform: scale(0.5);
     transform-origin: 0% 0%;
  }

  .ballot-page.view {
     overflow: inherit !important;

     transform: rotate(90deg) translate(0px, -100%);
     transform-origin: 0% 0%;
  }

  .ballot-selection {
    display: none;
  }
}

/* Bootstrap */
*, : after, : before {
  box-sizing: border-box; 
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
/* Styling for practice ballot papers */
h1, h2, h3, h4 {
   font-family: Helvetica,Arial,sans-serif;
}
/* Senate */
.ballot-paper-sen {
  background: #fff url("/assets/images/senate-bp-official-block.png") top right no-repeat;
  background-size: 32.5px 28px;
  position: relative;
  overflow-x: scroll;
}
.ballot-header {
  background: transparent url("/assets/images/senate-bp-state-block.png") 0 0 no-repeat;
  background-size: 38px 28px;
  font-size: 0.65em;
  height: 28px;
  margin-bottom: 10px;
}
.ballot-header-title {
  padding: 5px 0 0 45px;
}
.ballot-option-a, .ballot-option-b {
  line-height: 10px;
  vertical-align: top;
}
.ballot-line td {
  height: 0px;
  font-size: 0px;
  border-bottom: 7.5px solid black;
}
.ballot-space {
  height: 5px;
}
.option-a-header, .option-b-header {
  width: 100px;
}
.option-a-header h2, .option-b-header h2 {
  letter-spacing: -0.5px;
  line-height: 13px;
  font-size: 0.85em;
  font-weight: bold;
  margin: 0;
}
.option-a-header p, .option-b-header p {
  letter-spacing: -.25px;
  font-size: 0.5em;
}
p.senate-option {
  background: #fff url("/assets/images/senate-arrow.jpg") 0 0 no-repeat;
  background-size: 80px 13.5px;
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: normal;
  width: 80px;
  height: 13.5px;
  padding: 1.5px 0 0 2.5px;
  margin: 2.5px 0;
}
.ballot-logo-sen {
  margin: 5px 5px 5px 0;
  height: 20px;
  width: 20px;
  background: transparent url('/assets/images/sample-logo-sen.png') 0 0 no-repeat;
  background-size: 20px 20px;
}
.ballot-logo-sen.blank {
  background: none;
}
.ballot-position, .below-ballot-position {
  font-size: 0.55em;
  width: 100px;
  border-left: 1px solid #000;
  float: left;
}
.ballot-position {
  height: 110px;
  padding-left: 2.5px;
}
.below-ballot-position {
  padding-left: 2.5px;
  padding-bottom: 10px;
}
.ballot-number {
  padding: 0;
  margin: 0;
}
.ballot-box {
  display: inline-block;
  width: 20px;
  height: 10px;
  float: left;
  padding: 5px 0px;
  margin-right: 2.5px;
  border: 1px solid black;
  text-align: center;
  font-size: 10px;
}
.ballot-party {
  padding: 5px 0 0;
  font-weight: bold;
  font-size: 7.5px;
  text-transform: uppercase;
  clear: both;
}
p.party-title {
  min-height: 35px;
  margin: 5px 0 25px 2.5px;
  font-weight: 800;
  line-height: 10px;
  font-size: 7.5px;
  text-transform: uppercase;
}
.ballot-candidate-group {
  display: block;
  margin: 10px 0;
  padding-left: 2.5px;
}
.ballot-candidate {
  margin-left: 22.5px;
  font-size: 0.36em;
  line-height: 8px;
}
.ballot-candidate span {
  font-size: 0.45em;
  font-weight: normal;
  letter-spacing: -0.25px;
}
.ballot-candidate span span {
  font-size: 0.4em;
  font-weight: normal;
  letter-spacing: normal;
}
.sample-text {
  background: transparent url("/assets/images/sample-banner.png") bottom right no-repeat;
  position: absolute;
  height: 58.5px;
  width: 58.5px;
  bottom: 0;
  right: 0;
}
